@import "settings.scss";

#main-container {
    padding: $page-padding;
    
    .card {
        padding: 15px;
        border: 1px solid black;
        margin: 10px 0;
        width: 50%;
        
        .answers {
            display: flex;
            flex-direction: column;
        }
    }
}