$primary-color: #345995;
$secondary-color: #F9A03F;
$accent-color: #DC3C3C;
$success-color: #47CBA5;
$warning-color: #F5A623;
$error-color: #F44336;
$gray-darkest: #2D2D2D;
$gray-dark: #4F4F4F;
$gray: #828282;
$gray-light: #BDBDBD;
$gray-lightest: #E0E0E0;

$page-padding: 50px;
$font: montserrat, sans-serif;

* {
    font-family: $font;
}