<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>sitename</param-name>
        <param-value>Quiztopia</param-value>
        <description>The name of the site for headers and title bars</description>
    </context-param>
    <filter>
        <filter-name>UserAuthenticator</filter-name>
        <filter-class>com.fpt.assignment.filter.UserAuthenticator</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthenticator</filter-name>
        <url-pattern>/WEB-INF/jsp/user-only/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchQuizServelet</servlet-name>
        <servlet-class>com.fpt.assignment.controller.page.SearchQuizServelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchQuizServelet</servlet-name>
        <url-pattern>/SearchQuizServelet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
